html, body{
  margin:0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  height: 100%;
}

header {
  position: fixed;
  width:  100%;
  z-index: 999;
}

li {
  font-weight: 600;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #222;
  color: #fff;
  height: 60px;
  width: 100%;
  z-index: 1;
  flex-wrap: nowrap;
}

nav ul {
  background: #222;
}

button {
  color: white;
}

nav ul li {
  cursor: pointer;
  display: block;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 4.5vw;
  color: black;
  font-weight: 700;
}

p {
  color: black;
}

h3 {
  color: black;
}

.navbar-brand {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  max-width: 20vw;
  max-height: 50px;
  object-fit: contain;
  margin-right: 5px;
}

section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  min-height: 100%;
  color:#fff;
}

.section-header {
  text-align: center;
  margin: 80px 0 10px 0;
  font-size: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

#page1, #page2, #page3, #page4, #page5 {
  min-height: 100vh;
  min-width: 100%;
}

#page1 {
  background-color: white;
}

#home {
  padding-top: 60px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  padding: 10px;
}

.row {
  height: 100%;
}
 
.col-sm-6 {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .col-sm-6 {
  flex-direction: column;
}

#profile {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}


.blockquote p, .blockquote-footer{
  font-size: 20px;
  margin: 10px;
  font-style: italic;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote i {
  margin: 10px;
  font-size: 30px;
  color: black;
}

/* SECOND PAGE */

#page2 {
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#bio {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio-text {
  color: black;
}

#languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

button {
  margin: 10px;
  width: 100px;
}

p {
  width: 100%;
  height: 100%;
}

/* PAGE 3 */

#page3 {
  background-color: rgb(221, 221, 221);

}

a {
  color: white;
}

a:hover {
  color: rgb(149, 149, 149);
}

#gallery-link {
  color: black;
}

#gallery-link p {
  margin-bottom: 20px;
  font-size: 17px;
}

/* PAGE 4 */

#page4 {
  background-color: rgb(195, 195, 195);
}

.video p {
  color: rgb(240, 240, 240);
}

#page4 a:hover {
  color: rgb(240, 240, 240);
}

#video {
  color: rgb(240, 240, 240);
}

/* PAGE 5 */

#page5 {
  background-color: rgb(161, 161, 161);

}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media i {
  font-size: 5ex;
  margin: 20px;
  color: black;
}

.media i:hover {
  color: rgb(87, 87, 87);
}

/* END PAGE 5  */

@media screen and (max-width: 700px) {
  h1 {
    font-size: 35px;
    margin: 5px;
  }

  nav ul li {
    font-size: 10px;
    padding: 3px;
  }

  p {
    font-size: 12px;
  }
}